<!--The Content Heading-->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect("/")
        } %>
        <!--A Message Block-->
        <%- messages() %>
<!--The errors for more than one Display-->
<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
            <%  }) %>
        </ul>
        <% } %>        

        <!--A register html Block-->

    <div id="accountContanier">
        <form id="account_form" action="/account/register" method="post" >
            <label for="firstName">First Name:</label>
            <br>
            <input type="text" name="account_firstname" id="firstname" required value="<%= locals.account_firstname %>">
            <br>
            <label for="lastName">Last Name:</label>
            <br>
            <input type="text" name="account_lastname" id="lastname" required value="<%= locals.account_lastname %>">
            <br><br>
            <label for="email">Email:</label>
            <br>
            <input type="email" name="account_email" id="email" required value="<%= locals.account_email %>">
            <br>
            <label for="password">Password:</label>
            <br>
            <input type="password" name="account_password" id="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required><br><br>
            <div class="passwordRequirements">
                <p>There must be at least 12 characters, one must be a number, one must be a lowercase letter, one must be a capital letter, and one must be a non-alphanumeric character."</p>
            </div>
            
            <button type="submit" >Register</button>
        </form>
    </div>   

        
        