<!--The Content Heading-->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
        } %>
        <!--A Message Block-->
        <%# messages() %>

        <% if(data.length > 0){ %>
             <ul id="carDetail-display">
            <% data.forEach(vehicle => { %>
                <li>
                 <div class="vehicle-image">
                 img src" + <%- vehicle.inv_image %> + "alt=Image of
                <%- vehicle.inv_make + vehicle.inv_model %> 
                 on CSE Motors" title= + <% vehicle.inv_make  + vehicle.inv_model %> + details" />
                 </div>
                 <div class="vehicle-info">
                 <p>Year:  + <%- vehicle.inv_year %> + </p>
                 <p>Miles:  + <%- vehicle.inv_miles %> + </p>
                 <p>Color:  + <%- vehicle.inv_color %> + </p>
                 <span>$ + <%- new  Intl.NumberFormat('en-US').format(vehicle.inv_price) %> + </span>
                 </div>
                 </li>
            <% }) %>
             </ul>
             <%  } else { %>
             <p class="notice">Sorry, no matching vehicles could be found.</p>
             <%  } %>
        
        <!--The Inventory Items Display-->
        <%- grid %>